<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />
  <variable name="logContent" value="${message:withException=true}"/>

  <include file="NLog-user.config"/>
  
  <targets async="true">
    <target xsi:type="Null" name="null" formatMessage="false"  />
    <target xsi:type="File" name="keen" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Keen-${shortdate}.log" />
    <target xsi:type="File" name="main" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Torch-${shortdate}.log" />
    <target xsi:type="File" name="chat" layout="${longdate} ${message}" fileName="Logs\Chat.log" />
    <target xsi:type="ColoredConsole" name="console" layout="${var:logStamp} ${logger:shortName=true}: ${var:logContent}" />
    <target xsi:type="File" name="patch" layout="${var:logContent}" fileName="Logs\patch.log"/>
    <target xsi:type="FlowDocument" name="wpf" layout="${var:logStamp} ${logger:shortName=true}: ${var:logContent}" />
  </targets>

  <rules>
    <!-- Do not define custom rules here. Use NLog-user.config -->
    <logger name="Keen" minlevel="Warn" writeTo="main"/>
    <logger name="Keen" minlevel="Info" writeTo="console, wpf"/>
    <logger name="Keen" minlevel="Debug" writeTo="keen" final="true" />
    <logger name="Keen" writeTo="null" final="true" />

    <logger name="*" minlevel="Info" writeTo="main, console, wpf" />
    <logger name="Chat" minlevel="Info" writeTo="chat" />
    <!--<logger name="Torch.Managers.PatchManager.*" minlevel="Trace" writeTo="patch"/>-->
  </rules>
</nlog>