<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="main" layout="${time} [${level:uppercase=true}] ${logger}: ${message}" fileName="Logs\Torch-${shortdate}.log" />
    <target xsi:type="File" name="chat" layout="${longdate} ${message}" fileName="Logs\Chat.log" />
    <target xsi:type="ColoredConsole" name="console" layout="${time} [${level:uppercase=true}] ${logger}: ${message}" />
    <target xsi:type="File" name="patch" layout="${message}" fileName="Logs\patch.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="main, console" />
    <logger name="Chat" minlevel="Info" writeTo="chat" />
    <logger name="Torch.Managers.PatchManager.*" minlevel="Trace" writeTo="patch"/>
  </rules>
</nlog>