<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />
  <variable name="logContent" value="${message:withException=true}"/>

  <targets async="true">
    <target xsi:type="Null" name="null" formatMessage="false"  />
    <target xsi:type="File" name="keen" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Keen-${shortdate}.log" />
    <target xsi:type="File" name="main" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Torch-${shortdate}.log" />
    <target xsi:type="File" name="chat" layout="${longdate} ${message}" fileName="Logs\Chat.log" />
    <target xsi:type="ColoredConsole" name="console" layout="${var:logStamp} ${logger:shortName=true}: ${var:logContent}" />
    <target xsi:type="File" name="patch" layout="${var:logContent}" fileName="Logs\patch.log"/>
    <target xsi:type="FlowDocument" name="wpf" layout="${var:logStamp} ${logger:shortName=true}: ${var:logContent}" />
  </targets>

  <rules>
    <!-- Define custom rules below. The example line will pipe all debug output to log file, in-UI console, and independent console. -->
    <!--<logger name="*" minlevel="Debug" writeTo="main, console, wpf" />-->
  </rules>
</nlog>